<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=USFLHQMAC07P\DV01;User Id=digitalaxis;Password=digitalaxis;Connect Timeout=30;Max Pool Size=200;" providerName="System.Data.SqlClient" />
    <add name="QAConnectionString" connectionString="Server=10.15.5.148\qa1;User Id=digitalaxis;Password=digitalaxis;Connect Timeout=30;Max Pool Size=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProvisioningEndpoint" value="http://192.168.99.100:10050" />
    
    <add key="CoreDatabase" value="ebCore" />
    <add key="AppDatabases" value="ebApp" /> <!--comma separated-->

    <add key="RetryCount" value="3" />
    <add key="RetryInterval" value="5000" />
  </appSettings>
  <nlog autoReload="true">
    <extensions>
      <add assembly="SumoLogic.Logging.NLog"/>
    </extensions>
    <targets async="true">
      <target name="t1"
              type="File"
              filename="c:\Provisioning Logs\servicelog.log"
              keepFileOpen="false"
              archiveFileName="c:\Provisioning Logs\servicelog_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              archiveEvery="Day"
              layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}">
      </target>
      <target name="t2" type="Console" layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"></target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="t2"></logger>
      <logger name="*" minlevel="Error" writeTo="t1"></logger>
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>